<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_travel"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_travel"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.DealActivity" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_insert"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.ListActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>